
.about_padding{
    padding-top: 5%;
}
.aboutConent{
    margin-left: 10%;
    margin-right:10%;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;    
    width: 80vw;
    height: auto;
    list-style-position: inside;
    text-align: left;
    
}
.about{
    text-align: center;   
    margin-left: 8%;
    margin-right:8%;
    padding: 1%;
    color: black;
    font-size: 3vw;
}
.whyUs{
    position: absolute;
}
.about_us_img img{
    width: 100vw;
    height: 60vh;
}

.mission_ul{
    width: 90%;
    padding-left: 10%;
    font-size: 1.5vw;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 550px) {
    .aboutConent{
        font-size: 3vw;
    }
  }