*{
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}
footer{
    height: auto;
    background-color: darkslateblue;
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   padding-bottom: 2vh;
}
.footer-copyright, .footer-copyright a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    padding-top:1vh;
    padding-bottom: 2vh;
    font-size: 1.3vw;    
};

@media screen and (max-width: 550px) {
}