*{
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}


header{
    position: relative;
    top: 0;
    left: 0;
}
.upperHeader{
    /* background:linear-gradient(pink , white); */background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
/* z-index: -1; */
}
.logo{
    padding-left: 3%;
    width: 8%;
    /* background-color: red; */
    height: auto;
    position: relative;        
    z-index: 1;
}
.logo img{
  max-width: 100%;
  padding-top: 1vh;
  padding-bottom: 2vh;
  max-height: auto;  
  transition: transform 2s;  
  transform: scale(1.1,1.1);
}
.company_name{
    font-size: 3vw;
    width:60%;
    height: auto;
    padding-left: 3%;
    padding-top: 1.5vh;
    /* padding-bottom: auto; */
    font-family: serif;
/* font-family: 'Sansita Swashed', cursive; */
    color: midnightblue;
    /* text-shadow: 2px 2px 2px black;/ */
    /* transition: transform 2s; */
}
/* .company_name:hover{
  transform: scale(1.1,1.1);
} */
.contact_us{    
    width: 13%;
    height: auto;    
    padding-right: 2%;
    position: relative;
    bottom: 0;
    right: 0;
}
.contact_us h4{
  /* font: bold; */
    font-size: 1.5vw;
    padding-top: 5vh;
    font-family:  'Times New Roman', Times, serif;
    color: midnightblue;
    position: relative;
    text-align: center;
    /* z-index: 1; */
}
._social_links{
    display: flex;
    flex-direction: row;
    margin-top: 0%;
    margin-bottom: 0%;
    justify-content: space-around;
}
.social_icon{
    /* display: flex;
    justify-content: space-around; */
    padding: 2px;
    max-width: 2vw;
    max-height: 3vh;
    transition: transform 1s;
    z-index: 1;

    /* z-index: 1; */
}
.social_icon:hover{
    transform: scale(1.5,1.5  );
}


.lowerHeader{
  background: #283c86;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100%;
  height: auto;
  z-index: 1;
  /* margin-bottom: 0%; */
}

.lowerHeader nav ul li{

    list-style-type:none;
    font-size: 1.5vw;    
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.lowerHeader nav ul li:hover{
    color: midnightblue;
}

nav ul  {
    color: honeydew;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    height: auto;
}
/* dropdown button */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  list-style-type: none;
  font-size: 1.5vw;
  position: absolute;
  background-color: #f1f1f1;
  width: 14vw;
  border: 0.5px groove;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}
.dropdown-content a:hover{
  text-decoration: none;
  color: chocolate;
}
.dropdown-content a {
  color: black;
  padding: 5%;
  text-decoration: none;
  display: block;
}

nav ul li:hover .dropdown-content {
  display: block;
  
}

.navAncher{
  color:honeydew ;
  text-decoration: none;
}

.navAncher:hover{
color: midnightblue;
text-decoration: none;
}
.welcome{
  text-align: center;
}
.textContent{
  
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
}
.q-strong{
  text-align: center;
}

/* media query starts */

@media screen and (max-width: 550px) {
  .upperHeader{
    /* background:linear-gradient(pink , white); */
    background-color:#fff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
/* z-index: -1; */
}

.logo{
  padding-left: 2%; 
  width: 10%;
  height: auto;
  position: relative;
  /* background-color: red;         */
  /* z-index: 1; */
}

.logo img{
  max-width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  max-height: auto;  
  transition: transform 2s;  
  transform: scale(1.4,1.4);
}

.company_name{
  font-size: 4.4vw;
  width:64%;
  height: auto;
  padding-left: 4%;
  padding-top: 1vh;
  /* padding-bottom: auto; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: midnightblue;
  /* text-shadow: 2px 2px 2px black;/ */
  /* transition: transform 2s;  
  transform: scale(1.2,1.2); */
}
/* .company_name:hover{
  transform: scale(1.2,1.2);
} */
.contact_us{    
  width: 19%;
  height: auto;
  padding-right: 1%;
}

.contact_us h4{
  /* font: bold; */
    font-size: 2vw;
    padding-top: 1vh;
    font-family:  'Times New Roman', Times, serif;
    color: midnightblue;
    position: relative;
    text-align: center;
    /* z-index: 1; */
}

._social_links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 0.2vh;
}
.social_icon{
  /* display: flex;
  justify-content: space-around; */
  padding: 1px;
  max-width: 3vw;
  max-height: 4vh;
  transition: transform 1s;
  z-index: 1;

  /* z-index: 1; */
}
.social_icon:hover{
  transform: scale(1.1,1.1  );
}

.lowerHeader{
  /* background-image: linear-gradient( grey,pink); */
  background-color: #2697ed;
  width: 100%;
  height: auto;
  z-index: 1;
  /* margin-bottom: 0%; */
}

.lowerHeader nav ul li{

    list-style-type:none;
    font-size: 3vw;    
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.dropdown-content {
  display: none;
  list-style-type: none;
  font-size: 3vw;
  position: absolute;
  background-color: #f1f1f1;
  width: 18vw;
  border: 0.5px groove;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}
}
/* media query end  */



