main{
  /* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
  z-index: 1;
  /* background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%); */
  margin-bottom: 0%;
  padding-bottom: 0%;
  
}
*{
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
}
.welcome-class{
  margin: 6%;
  margin-bottom: 1%;
}
.welcome{
  /* margin-top: 5%; */
  font: bold;
  color: darkgreen;
  font-family: serif;
  font-size: 3vw;
}
.textContent{
  color: black;
  font-size: 1.5vw;
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  padding-bottom: 3%;
  margin-bottom: 10%;
  font-weight: 500;
  text-align: center;
}
.quote_us{
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* margin-bottom: 5%; */
  margin-top: 1%;
}
.quote_us1{
  height: 30vh;
  width: 72%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* margin-bottom: 5%; */
  margin-top: 6%;
  margin-bottom: 5%;
}
.quote {
  width :18%;
  padding-left: 2%;
}
.quote1 {
  width :24%;
  padding-left: 2%;
}
.quote img{
  width: 70%;
  padding-left: 20%;

}
.quote1 img{
  width: 74%;
  padding-left: 20%;
}
q{
  font-family: cursive; 
  
}


@media screen and (max-width: 550px) {
  .main_images img,.item, .active {
    width: 100vw;
    height: 40vh;
    border: 1px solid pink
  }
  .welcome{
    font-size: 8vw;
    width: 100%;
  }
  .welcome-class{
    margin: 1%;
    border: pink solid 1px;

  }
  .textContent{
    font-size: 4vw;
    column-count: 1;
    column-rule: lightblue solid 1px;
    column-gap: 0px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right:2%;
  }
  .quote_us{
    height: 26vh;
    width: 100vw;    
    /* margin-bottom: 5%; */
    margin-top: 6%;
    /* display: flex;
    flex-direction: column; */    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .quote {
    width: 98%;
    padding-left: 2%;
  }
  .quote img{    
    width: 63%;
    padding-left: 32%;
  }
  
  .quote_us1{
    height: auto;
    width: 100vw;    
    /* margin-bottom: 5%; */
    margin-top: 6%;
    /* display: flex;
    flex-direction: column; */    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .quote1 {
    width: 98%;
    padding-left: 2%;
  }
  .quote1 img{    
    width: 63%;
    padding-left: 32%;
  }
  q{
    font-family: cursive;
    font-size: 3vw;
    width: 100%;
  }
}